<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>210</integer>
		</dict>
		<key>libtz-build.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>213</integer>
		</dict>
		<key>libtz-lcext.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>219</integer>
		</dict>
		<key>tz.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>214</integer>
		</dict>
		<key>tzdata-build.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>216</integer>
		</dict>
		<key>tzdata.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>215</integer>
		</dict>
		<key>zic-build.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>217</integer>
		</dict>
	</dict>
</dict>
</plist>
