<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>282</integer>
		</dict>
		<key>lc-compile-ffi-java (host).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>287</integer>
		</dict>
		<key>lc-compile-ffi-java.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>286</integer>
		</dict>
	</dict>
</dict>
</plist>
