<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>193</integer>
		</dict>
		<key>libCore (host).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>192</integer>
		</dict>
		<key>libCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>191</integer>
		</dict>
	</dict>
</dict>
</plist>
