<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>291</integer>
		</dict>
		<key>lc-compile-ffi-java-lib (host).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>295</integer>
		</dict>
		<key>lc-compile-ffi-java-lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>294</integer>
		</dict>
	</dict>
</dict>
</plist>
