<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>190</integer>
		</dict>
		<key>libExternal (host).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>196</integer>
		</dict>
		<key>libExternal-symbol-exports.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>197</integer>
		</dict>
		<key>libExternal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>195</integer>
		</dict>
	</dict>
</dict>
</plist>
