<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>266</integer>
		</dict>
		<key>external-revandroid.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>280</integer>
		</dict>
		<key>external-reviphone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>281</integer>
		</dict>
		<key>reviphoneproxy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>279</integer>
		</dict>
	</dict>
</dict>
</plist>
