<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>182</integer>
		</dict>
		<key>kernel-standalone Support.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>189</integer>
		</dict>
		<key>kernel-standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>188</integer>
		</dict>
		<key>run-test-kernel-standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>185</integer>
		</dict>
		<key>test-kernel-standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>186</integer>
		</dict>
	</dict>
</dict>
</plist>
